.custom-img {
    max-height: 260px;
    object-fit: Cover;
    width: 100%;
}

.custom-img-mobile {
    object-fit: contain;
}

.container {
    max-width: unset;
}

.fa-github {
    color:white;
}

.fa-linkedin {
    color:white;
}

.article {
    max-width: 720px;
    padding: 32px 48px;
}

.custom-user-photo {
    background-image: url("http://cdn.onlinewebfonts.com/svg/img_312847.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 40px;
    width: 40px;
}

.custom-text {
    text-decoration: none;
}

/* Single Page App Utils */
.hide {
    display: none !important;
}